// Colors variables
    $primary-orange-color: #ef5e32;
    $secondary-orange-color: #fe5f01;


    $deep-black: #000000;
    $primary-black-color: #222222;
    $secondary-black-color: #333333;

    $primary-white-color: #FFFFFF;
    $secondary-white-color: #CCCCCC;
    $third-white-color: #F7F7F7;



// Fonts family
    $default-font-family: 'Open Sans', sans-serif;
    $secondary-font-family: 'Roboto', sans-serif;
    $default-font-size: 1em;


// Fonts variables for mixins
$code-icons: "f21e", "f44b", "f58f";
    