@charset "UTF-8";
/* Import font family */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400+600+700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");
/* Default style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  color: #ef5e32;
  transition: 0.5s ease;
}

body {
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  color: #222222;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222222;
  hyphens: auto;
}

ul {
  list-style: none;
  text-decoration: none;
}

.content-picture {
  width: 40%;
  height: auto;
}

.picture-man {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-descriptions {
  width: 60%;
  padding-left: 5rem;
}
.content-descriptions-title {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}
.content-descriptions-title span {
  display: block;
}
.content-descriptions-title span:last-of-type {
  color: #ef5e32;
}
.content-descriptions-paragraph {
  hyphens: auto;
  text-align: justify;
  margin-bottom: 2rem;
  color: #333333;
}
.content-descriptions-find {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  position: relative;
  margin-left: 20px;
  z-index: 1;
}
.content-descriptions-find::before {
  content: "-";
  position: absolute;
  margin-right: 20px;
  top: 10px;
  left: -8px;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 50%;
  background-color: #ef5e32;
  z-index: -1;
}

/* Layout style */
.main {
  width: 100%;
  min-height: auto;
  overflow: hidden;
}

.container {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header style */
header.main-header {
  min-height: 100vh;
  width: 100%;
  background: url("../img/training.jpg") no-repeat center center;
  background-size: cover;
  overflow: hidden;
  position: relative;
  z-index: 1;
  color: #FFFFFF;
}
header.main-header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(34, 34, 34, 0.75);
  z-index: -1;
}

/* Main section style */
section.main-section {
  width: 100%;
  min-height: 100vh;
  background-color: #F7F7F7;
}

.navbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid rgba(255, 255, 255, 0.25);
  padding: 1.2rem;
  text-transform: uppercase;
}
.navbar-logo {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.15rem;
  text-transform: capitalize;
}
.navbar-nav, .navbar-join {
  font-size: 0.9rem;
  font-weight: 600;
  transition: 0.5s ease;
}
.navbar-nav {
  display: flex;
}
.navbar-nav > * {
  margin: 0 2rem;
  position: relative;
  transition: 0.5s ease;
}
.navbar-nav > *:hover, .navbar-nav > *:hover:first-of-type {
  color: #ef5e32;
}
.navbar-nav > *:hover::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 50%;
  width: 7px;
  height: 7px;
  color: #ef5e32;
  background-color: #ef5e32;
  border-radius: 50%;
}
.navbar-join {
  display: block;
  padding: 10px 30px;
  border-radius: 20px;
  background-color: #ef5e32;
}
.navbar-join:hover {
  background-color: transparent;
  background-color: rgba(239, 94, 50, 0.7);
}

.banner {
  display: flex;
  align-items: center;
  flex-direction: row;
  color: #FFFFFF;
  padding: 8rem 4rem;
  width: 100%;
}
.banner-title {
  width: 60%;
  height: auto;
  color: inherit;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: bold;
  text-align: justify;
  letter-spacing: 0.25rem;
}
.banner-title strong {
  display: block;
  hyphens: auto;
}
.banner-logo {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-logo-play {
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  position: relative;
}
.banner-logo-play::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background-color: #ef5e32;
  border-radius: 50%;
}
.banner-logo-play::after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: transparent;
  font-size: 1.5rem;
  cursor: pointer;
}
.banner-logo-play:hover {
  transition: 0.5s ease-in;
  transform: translateX(-50px) scale(1.25);
}

.about {
  width: 100%;
  display: block;
  padding: 8rem 4rem;
}

.about-us {
  margin-bottom: 10rem;
}
.about-us-content {
  display: flex;
  justify-content: space-between;
}

.about-banner {
  width: 100%;
  display: flex;
  flex-direction: row;
  color: #FFFFFF;
}
.about-banner > * {
  width: calc(100% / 3);
  min-height: 200px;
  background-color: #000000;
  position: relative;
  z-index: 1;
}
.about-banner > *:hover:nth-of-type(2) {
  transform: scale(1.2);
  transition: 0.7s ease-in;
  z-index: 3;
  box-shadow: 2px 2px 10px 0.5px rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.about-banner > *:nth-of-type(2)::before, .about-banner > *:nth-of-type(2)::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.about-banner > *:nth-of-type(2)::before {
  background: url("../../assets/img/strong-man.jpg") top left no-repeat;
  background-size: cover;
  z-index: -2;
}
.about-banner > *:nth-of-type(2)::after {
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}
.about-banner > *:nth-of-type(1) span, .about-banner > *:nth-of-type(2) span, .about-banner > *:nth-of-type(3) span {
  display: block;
  width: 100%;
  padding: 1.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.5);
}
.about-banner > *:nth-of-type(1) div > span, .about-banner > *:nth-of-type(2) div > span, .about-banner > *:nth-of-type(3) div > span {
  display: block;
  text-align: center;
  position: relative;
  font-weight: 600;
}
.about-banner > *:nth-of-type(1) div > span::before {
  content: "" !important;
  font-family: "Font Awesome 5 Free";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 2rem;
  color: #fe5f01;
  display: block;
  cursor: pointer;
}
.about-banner > *:nth-of-type(1) div > span:hover::before {
  transition: 0.5s ease-in;
  transform: scale(1.05);
  overflow: hidden;
}
.about-banner > *:nth-of-type(2) div > span::before {
  content: "" !important;
  font-family: "Font Awesome 5 Free";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 2rem;
  color: #fe5f01;
  display: block;
  cursor: pointer;
}
.about-banner > *:nth-of-type(2) div > span:hover::before {
  transition: 0.5s ease-in;
  transform: scale(1.05);
  overflow: hidden;
}
.about-banner > *:nth-of-type(3) div > span::before {
  content: "" !important;
  font-family: "Font Awesome 5 Free";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 2rem;
  color: #fe5f01;
  display: block;
  cursor: pointer;
}
.about-banner > *:nth-of-type(3) div > span:hover::before {
  transition: 0.5s ease-in;
  transform: scale(1.05);
  overflow: hidden;
}
.about-banner > *:nth-of-type(1) div > h3, .about-banner > *:nth-of-type(2) div > h3, .about-banner > *:nth-of-type(3) div > h3 {
  text-align: center;
  text-transform: uppercase;
  color: inherit;
  padding: 0.5rem;
  font-weight: bold;
}
